<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Painel Administrativo </title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/lib/iCheck/skins/flat/blue.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/lib/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    
    <link href="~/lib/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Admin")" class="site_title"><i class="fa fa-soccer-ball-o"></i> <span>Projeto </span></a>
                    </div>

                    <div class="clearfix"></div>
                    @if (Session["Nome"] != null)
                    {
                        <div class="profile clearfix">
                            <div class="profile_info">
                                <h2> @Session["Nome"]</h2>
                            </div>
                            <!-- <div class="profile_pic">
                                 <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                             </div>
                             <div class="profile_info">
                                 <h2</h2>
                             </div>
                             </div> -->
                        </div>

                    }
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i>Alunos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Aluno")">Lista de Alunos</a></li>
                                        <li><a href="@Url.Action("Create", "Aluno")">Cadastrar Aluno</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-heartbeat"></i> Voluntários <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Voluntario")">Lista de Voluntários</a></li>
                                        <li><a href="@Url.Action("Create", "Voluntario")">Cadastrar Voluntário</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Turmas <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Turma")">Lista de Turma</a></li>
                                        <li><a href="@Url.Action("Create", "Turma")">Cadastrar Turma</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-calendar"></i> Aulas <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Aula")">Lista de Aulas</a></li>
                                        <li><a href="@Url.Action("Create", "Aula")">Cadastrar Aulas</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @if (Session["Nome"] != null)
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="images/img.jpg" alt="">@Session["Nome"]
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"> Perfil</a></li>
                                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>


                            </ul>
                        }
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="@Url.Action("Index", "Home")">Bom na Escola é Bom de Bola</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <!-- Bootstrap
    <script src="~/lib/jquery/jquery.min.js"></script> -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/moment/moment.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>

    <!-- Chart.js -->
    <script src="~/lib/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/lib/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/lib/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/lib/Flot/jquery.flot.js"></script>
    <script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/lib/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/lib/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <!-- bootstrap-daterangepicker -->

    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.min.js"></script>






    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/lib/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/lib/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src=".~/lib/Flot/jquery.flot.js"></script>
    <script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src=".~/lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src=".~/lib/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/lib/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/lib/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/lib//moment/min/moment.min.js"></script>
    <script src="~/lib//bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/switchery/dist/switchery.min.js"></script>

    <script src="~/lib/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.min.js"></script>
























</body>
</html>
