@model Araretama.BomNaEscolaBomDeBola.Domain.Aula

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Aula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTurma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTurma)
        </dd>

    </dl>
</div>
@if (Model.Presencas != null)
{
    for (int i = 0; i < Model.Presencas.Count; i++)
    {

        <div class="form-group">
            @Html.DisplayFor(model => model.Presencas[i].Aluno.Nome)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Presencas[i].Presente, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="checkbox">
                    @Html.EditorFor(model => model.Presencas[i].Presente)
                    @Html.ValidationMessageFor(model => model.Presencas[i].Presente, "", new { @class = "text-danger" })
                </div>
    
        </div>

    }

}
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
