@model IEnumerable<Araretama.BomNaEscolaBomDeBola.Domain.Aula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th>
                    @Html.DisplayNameFor(model => model.DataAula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEnvio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDTurma)
                </th>
                <th class="column-title">Ver </th>
                <th class="column-title">Editar</th>
                <th class="column-title">Excluir</th>

            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEnvio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IDTurma)
                </td>

                <td class=" "> <a class="btn btn-primary" href="@Url.Action("Details", "Aula" , new { id = item.Id })"><i class="fa fa-plus"></i></a> </td>
                @if (DateTime.Today == item.DataAula)
                {
                    <td class=" "> <a class="btn btn-warning" href="@Url.Action("Edit", "Aula" , new { id = item.Id })"><i class="fa fa-calendar-check-o"></i></a> </td>
                }
                else
                {
                    <td class=" "> <a class="btn btn-warning" href="@Url.Action("Edit", "Aula" , new { id = item.Id })"><i class="fa fa-pencil"></i></a> </td>
                }
                
                <td class=" "> <a class="btn btn-danger" href="@Url.Action("Delete", "Aula" , new { id = item.Id })"><i class="fa fa-trash"></i></a> </td>

            </tr>
            }
        </tbody>
    </table>

    </div>
