@model Araretama.BomNaEscolaBomDeBola.Domain.Aluno

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <h4>Aluno</h4>
    <hr />

    <div class="col-sm-10 col-md-10 col-lg-12 col-sm-offset-1 col-md-offset-1">
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Nome)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Nome)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.DataNasc)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.DataNasc)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Escola)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Escola)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Serie)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Serie)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Responsavel)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Responsavel)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Contato)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Contato)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Logradouro)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Logradouro)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Numero)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Numero)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Cep)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Cep)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Bairro)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Bairro)
                </div>

            </div>
        </p>
        <p>
            <div class="col-sm-3 col-md-3">  <strong>@Html.DisplayNameFor(model => model.Cidade)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Cidade)
                </div>

            </div>
        </p>

        <p>
            <div class="col-sm-3 col-md-3">  <strong> @Html.DisplayNameFor(model => model.Estado)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Estado)
                </div>

            </div>
        </p>

        <p>
            <div class="col-sm-3 col-md-3">  <strong>  @Html.DisplayNameFor(model => model.Complemento)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Complemento)
                </div>

            </div>
        </p>

        <p>
            <div class="col-sm-3 col-md-3">  <strong>  @Html.DisplayNameFor(model => model.Observacao)</strong></div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-7 col-xs-12">
                    @Html.DisplayFor(model => model.Observacao)
                </div>

            </div>
        </p>

        @if (Model != null && Model.Turma != null)
        {
            for (var i = 0; i < Model.Turma.Count; i++)
            {
                <p>
                    <div class="col-sm-3 col-md-3">  <strong>  @Html.DisplayNameFor(model => model.Turma)</strong></div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="col-md-7 col-xs-12">
                            @Html.DisplayFor(model => model.Turma[i].Nome)
                        </div>

                    </div>
                </p>
            }

        }
    </div>
   
</div>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
