@using PagedList.Mvc;
@model PagedList.IPagedList<Araretama.BomNaEscolaBomDeBola.Domain.Aluno>
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@{
    ViewBag.Title = "Alunos";
}

<h2>Alunos</h2>


<div class="col-md-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="row">

                <form>
                    <div class="title_right">

                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">

                                <input type="text" class="form-control" name="SearchString" value="@Request["SearchString"]" asp-for="SearchString" placeholder="Pesquisar por...">

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>

                <div class="clearfix"></div>
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <div class="left col-xs-12">
                                    <h2>@Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.Nome)</h2>
                                    <p><strong><i class="fa fa-phone"></i> @Html.DisplayNameFor(model => model.First().Contato) </strong>  @Html.DisplayFor(modelItem => item.Contato) </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-birthday-cake"></i> @Html.DisplayNameFor(model => model.First().DataNasc) :  @Html.DisplayFor(modelItem => item.DataNasc, "{0:dd/MM/yyyy HH:mm}" ) </li>
                                        <li><i class="fa fa-university"></i> @Html.DisplayNameFor(model => model.First().Escola) : @Html.DisplayFor(modelItem => item.Escola) </li>
                                        <li>
                                            <i class="fa fa-star"></i> @Html.DisplayNameFor(model => model.First().Responsavel): @Html.DisplayFor(modelItem => item.Responsavel))
                                        </li>
                                    </ul>



                                </div>
                                <!-- Imagem
                                <div class="right col-xs-5 text-center">
                                    <img src="http://www.abrin.com.br/modulos/imagem/fotos/abrin_brassbaby_1611.jpg" alt="" class="img-circle img-responsive">
                                </div>
                                    -->
                            </div>
                            <div class="col-xs-12 bottom text-center">

                                <div class="col-xs-12 col-sm-12 emphasis">
                                    <a class="btn btn-primary" href="@Url.Action("Details", "Aluno" , new { id = item.Id })"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-warning" href="@Url.Action("Edit", "Aluno" , new { id = item.Id })"><i class="fa fa-pencil"></i></a>

                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Aluno" , new { id = item.Id })"><i class="fa fa-trash"></i> </a>

                                </div>
                            </div>
                        </div>
                    </div>



                }

            </div>
        </div>
    </div>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>












