@model IEnumerable<Araretama.BomNaEscolaBomDeBola.Domain.Presenca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDAula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
